/* styles.css */

/* Set a dark background for the root */
.root {
    -fx-background-color: #121212;
    -fx-text-fill: #ffffff;
    -fx-font-family: "impacted";
}

.button, .menu-button, .toggle-button, .custom-menu-item {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-border-color: #444444;
}

.button:disabled, .menu-button:disabled, .toggle-button:disabled {
    -fx-opacity: 0.5;
}

.muteButton {
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-border-color: transparent;
}

.context-menu {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.label, .my-text, text {
    -fx-text-fill: #ffffff;
    -fx-font-family: "impacted";
}

.font-normal {
    -fx-font-size: 16px;
}

.font-normal-l {
    -fx-font-size: 20px;
}

.font-title {
    -fx-font-size: 20px;
}

.font-title-l {
    -fx-font-size: 24px;
}

.font-huge-title {
    -fx-font-size: 48px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.list-view .viewport {
    -fx-background-color: transparent;
}

