/* styles.css */

/* Set a dark background for the root */
.root {
    -fx-background-color: #121212;
    -fx-text-fill: #ffffff;
}

.button, .menu-button, .toggle-button, .custom-menu-item {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-border-color: #444444;
}

.context-menu {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.label {
    -fx-text-fill: #ffffff;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.list-view .viewport {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color:transparent;
    -fx-control-inner-background: #f0f0f0;
    -fx-background-insets: 0;
    -fx-padding: 5;
}

.list-cell {
    -fx-background-color: rgba(164, 164, 164, 0.3);
    -fx-text-fill: white;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: rgba(164, 164, 164, 1);
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: rgba(164, 164, 164, 0.5);
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: rgba(164, 164, 164, 0.8);
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #A4A4A4;
    -fx-background-radius: 2em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}
